    /* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    /*-------------------- CSS RESET ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
    /* -------------------- ROOT VARIABLES --------------------------------------- */
:root{
    /*-----------------------Fonts------------------------*/
    --bebas: "Bebas Neue", sans-serif;
    --montserrat: "Montserrat", sans-serif;
    /*---------------Colors----------------*/
    --black: #0D0D0D;
    --white: #F2F2F2;
    --teal: #7ABFBF;
    --light-teal: rgba(122, 191, 191, .5);
    --orange: #EB5428;
}
    /* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
html{
    background-color: var(--light-teal);
    }


h1{
    font-family: var(--bebas);
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: var(--black);
    padding-bottom: 30px;
}
h2{
    font-family: var(--bebas);
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}
h3{
    font-family: var(--bebas);
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--black);
}


nav {
    grid-area: nav;
    min-width: 414px;
    width:100%;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index:5;
}

#logo {
    display: flex;
    justify-content: center;
    background-color: var(--orange);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 51px;
    width: 40%;
}

#sign-in{
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    height: 51px;
}

nav ul {
    grid-area: hamberger;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
}
nav li img {
    display: none;
}
nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: var(--bebas);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--black);
}
nav label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: relative;
    bottom: 7px;
    left: 10px;
}
nav span {
    display: block;
    position: relative;
    font-family: var(--bebas);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
    
 }
nav label svg {
    display: block;
    padding: 25px 25px 5px 25px;
}
label span:before, label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 550px;
}
    
nav h2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}

menu li {
    font-family: var(--bebas);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--orange);
}

p, li, dd, nav, input{
    font-family: var(--montserrat);
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
   
}

dt{
    display: inline-block;
    font-family: var(--montserrat);
    font-size: 16px;
    font-weight: 700;
    color: var(--black);
    line-height: 1.5;
    margin: 5px 0 5px 15px;
}

 dd{
    display: inline-block;
    margin: 5px;
}

header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--white);
}
header h1{
    grid-column: span 4;
    margin-top: 250px; 
    text-align: center;
}
header menu{
    grid-column: span 4;
}
header img{
    grid-column: span 4;
    width: 100%;
}
header div{
    grid-column: span 5;
}

header p{
    margin: 20px 10px;
    line-height: 1.5;
}
menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 20px;
}
menu li, menu a{
    display: block;
    grid-column: span 1;
    text-align: center;
    
}

.details, .ingredients, .directions{
    background-color: var(--white);
    padding: 10px 5px 15px 5px;
}

.ingredients li{
    list-style-type: square;
    margin: 5px 25px;
    line-height: 1.5;
}

.directions li{
    list-style-type: decimal;
    margin: 10px 25px;
    line-height: 1.5;
}

aside{
    background-color: var(--teal);
    padding: 20px 10px;
}

.side {
    display: grid;
    grid-template-columns: 125px 1fr;
    grid-template-rows:  auto auto auto;
    gap: 1rem;
    align-items: start;
    padding: 25px 5px 0 0;
}

.rating h4{
    display: none;
}



.side img{
    grid-row: 1 / span 3;
    grid-column: 1;
    width: 100%;
    
}

.side h3 a{
    grid-row: 1;
    grid-column: 2;
    text-decoration: none;
    color: var(--black);
}

.side p {
    grid-row: 2;
    grid-column: 2;
}

.rating {
    grid-row: 3;
    grid-column: 2;
    
}

.rating dt{
    display: inline-block;
    font-family: var(--montserrat);
    font-size: 16px;
    font-weight: 700;
    color: var(--black);
    line-height: 1.5;
    margin: 5px 0 5px 0;
}

 .rating dd{
    display: inline-block;
    margin: 5px;
}
.rating svg {
    fill: var(--orange)
}

.side:nth-last-of-type(1) .rating svg:last-child,
.side:nth-last-of-type(2) .rating svg:last-child,
.side:nth-last-of-type(4) .rating svg:last-child {
    fill: var(--white);
}

.search {
    display: flex;
    align-items: center;
    gap: 0;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.search input {
    border: 2px solid var(--orange);
    height: 45px;
    padding: 0 10px;
    border-right: none;
}

.search button {
    background-color: var(--orange);
    border: none;
    margin: 0;
    padding: 3px;
    height: 48px;
}

.search button svg {
    stroke: var(--white)
}

footer{
    font-family: var(--bebas);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--white);
    padding-top: 20px;
}
footer h2{
    text-align: center;
}

footer h3{
    display: none;
}

#social li{
    font-family: var(--bebas);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--orange);
}

#social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#social ul {
    display: flex;
    justify-content: space-around;
    grid-column: span 4;
    margin: 20px 5px;
    text-align: center;
}

#social li, #social a {
    display: block;
    grid-column: span 4;
}

footer img{
    display: flex;
    width: 50%;
    margin: 15px auto;

}

footer small{
    display: block;
    text-align: center;
    padding: 5px;
}





    /*-------------------- MEDIA QUERY (medium) --------------------------------*/
    /*-------------------- MEDIA QUERY (large) ------------------------------------*/
